
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* @import url('../src/images/pattern-background-desktop.svg'); */
.container{
    position: relative;
    background-color:  hsl(225, 100%, 94%);
    /* background-image: url(../code/images//pattern-background-desktop.svg); */
    background-repeat: no-repeat;
    max-width: 100%;
    height: 45rem;
    font-family: 'Red Hat Display', sans-serif;
}
.card{
    height: 36rem;
    width: 25rem;
    background-color: white;
    border: none;
    border-radius: 2rem;
    position: absolute;
    top: 4rem;
    left: 35%;
}
.hero{
 position: absolute;
 width: 25rem;
 top: 0;
 left: 0;
 border-radius: 2rem 2rem 0 0;
}
.heading{
    position: absolute;
    top: 12rem;
    left: 5rem;
    color: hsl(223, 47%, 23%);
    font-size: 1.7rem;
}
.section{
    position: absolute;
    top: 16rem;
    left: 2.5rem;
    width: 20rem;
    color: hsl(224, 23%, 55%);
    text-align: center;
}
.plan-section{
    position: absolute;
    top: 22rem;
    left: 3rem;
    border: none;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.5rem;
    width: 19rem;
    height: 5rem;
}
.icon-music{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
}
.plan-name{
    position: absolute;
    left: 5rem;
    font-weight: bold;
    color: hsl(223, 47%, 23%);
}
.plan-price{
    position: absolute;
    left: 5rem;
    top: 1.5rem;
    color: hsl(224, 23%, 55%);

}
.change-button{
    position: absolute;
    left: 14rem;
    top: 2rem;
    background-color: hsl(225, 100%, 98%);
    color:hsl(245, 75%, 52%);
    border: none;
    text-decoration: underline;
    font-weight: bold;
}
.change-button:active{
    cursor: pointer;
    font-weight: lighter;
    color:hsl(245, 75%, 52%);
text-decoration: none;
}

.payment-button{
    position: absolute;
    left: 3rem;
    top: 29rem;
    width: 19rem;
    height: 2.5rem;
    background-color:hsl(245, 75%, 52%) ;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    box-shadow: 0.5rem 0.8rem 1rem  hsl(225, 100%, 94%);
}
.payment-button:active{
    cursor: pointer;
    background-color:  rgba(34, 21, 150, 0.81);
}
.cancel-button{
    position: absolute;
    left: 9.5rem;
    top: 33rem;
    background-color: white;
    border: none;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
}
.cancel-button:active{
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}
@media screen and (max-width: 414px){
    .container{
        position: relative;
        height: 45rem;
        /* width: 90%; */
        /* margin: 2rem; */
        /* text-align: center; */
    }
    .card{
        position: absolute;
        left: 0%;
        width: 20rem;
        margin: 1rem;
        /* text-align: center; */

    }
    .hero{
        width:20rem
    }
    .heading{
        left: 3rem;
    }
    .section{
        left: 1.2rem;
       width: 17rem;
    }
    .plan-section{
        left: 1.2rem;
       width: 17rem;
    }
    .change-button{
        left: 12.5rem;
    }
    .payment-button{
        left: 1.2rem;
        width: 17rem;
    }
    .cancel-button{
        left: 7rem;
    }
}